:root {
    --mainTheme:rgb(54,57,63);
    --secondary:rgb(164, 112, 212);
    --thirdcondary: rgb(74, 171, 236);
    --font: Arial, Helvetica, sans-serif;
}

/* This is for the header */
.header {
    background-color: var(--mainTheme);
    padding: 20px;
    font-family: var(--font);
}
.header h1 {
    display: inline-block;
    position: relative;
    top: 25px;
    color: var(--mainTheme);
    font-size: 35px;
    background-color: var(--secondary);
}
.header section{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}
.header section ul {
    list-style-type: none;
}
.header section ul li {
    display: inline-block;
    text-decoration: underline;
    margin-left:25px;
    font-family: var(--font);
    color: var(--thirdcondary);
}
a{
    color: var(--thirdcondary);
    /* this is not the default anchor color
    I changed it to match the bottom left image under the header */
}


/* This is for the Image under the header */
.purp{
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/technology-banner-with-low-poly-plexus-design-vector.jpg");
    background-size: cover;
    background-position: center;
}

.purp h2{
    display: inline-block;
    position: relative;
    left: 1500px;
    top: 100px;
    font-family: var(--font);
    background-color: var(--secondary);
    color: var(--mainTheme);
}


/* this is the grid layout with a sidebar */

